body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
  /* position: relative;
  z-index: 0; */
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 35%;
  z-index: 0;
}

/* Features */
#features {
  background-color: #fff;
  position: relative;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.features {
  /* margin: 10% 10%; */
  text-align: center;
  padding: 15% 15%;
}

.features-image {
  padding: 5%;
  color: #ef8172;
}

.features-image:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  /* margin: 10% 10%; */
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding: 0 3% 4% 3%;
}

.press-logo {
  width: 15%;
  margin: 0 20px 50px 0;
}

.carousel-item {
  padding: 10% 15%;
}

/* Pricing */
#pricing {
  padding: 5%;
  margin: 0 5%;
  text-align: center;
}

.pricing-deck {
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    width: 60%;
    position: static;
    transform: rotate(0deg)
  }
}

/* Call To Action */

#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%
}

.cta-heading {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
  /* margin-bottom: 3%; */
  padding: 0 15%
}

.footer-button {
  margin: 2% 1%;
}
